@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "sans-serif";
}
body {
  background-color: black;
}

.main {
  background-image: url("Images/bg-img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: max(1200px, 100vw);
  height: 644px;

  position: relative;
}

.main .box {
  /* border: 1px solid red; */
  height: 644px;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: black;
  opacity: 0.68;
}
nav {
  max-width: 60vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  height: 100px;
}
nav img {
  width: 180px;
  color: red;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}

.hero {
  height: calc(100% - 100px);
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  gap: 23px;
}

.hero :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
}
.hero :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.hero :nth-child(3) {
  font-family: 400;
  font-size: 20px;
  text-align: center;
}
.seperation {
  background-color: rgb(46, 44, 44);
  height: 7px;
  position: relative;
  z-index: 20;
}
.btn {
  background-color: rgba(248, 243, 243, 0.021);
  color: white;
  border: 0.5px solid white;
  font-weight: 400;
  padding: 3px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
.btn.btn-red {
  background-color: red;
  padding: 3px 24px;
  font-size: 20px;
}

.btn-red-sm {
  background-color: red;
  padding: 3px 24px;
  height: 30px;
}
.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.main input {
  color: white;
  border-radius: 4px;
  padding: 7px 101px 8px 14px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(248, 243, 243, 0.5);
  outline: none;
}
.first {
  display: flex;
  max-width: 70vw;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
}
.SecImg {
  position: relative;
}
.SecImg img {
  width: 555px;
  position: relative;
  z-index: 10;
}
.SecImg video {
  position: absolute;
  right: 0;
  top: 51px;
  width: 555px;
}
section .first div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}
section.first > div :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
}
section.first > div :nth-child(2) {
  font-size: 24px;
}

.fqa {
  color: white;
  padding: 34px;
}
.fqa h2 {
  text-align: center;
  font-size: 48px;
}
.fqabox {
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  font-size: 24px;
  padding: 24px;
  margin: 24px auto;
  max-width: 60vw;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.fqabox:hover {
  background-color: #424040;
  transition: 0.6s;
}
footer {
  max-width: 60vw;
  color: white;
  margin: auto;
  padding: 60px;
}
footer .questions {
  padding: 34px 0;
  font-size: 20px;
}
.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer a {
  font-size: 16px;
  color: white;
}
.footer-items {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1300px) {
  nav {
    max-width: 90vw;
  }
  .first {
    flex-wrap: wrap;
  }
  .SecImg img {
    width: 305px;
  }
  .SecImg video {
    width: 305px;
  }
  .hero :nth-child(1) {
    font-size: 30px;
  }
  .hero :nth-child(2) {
    font-size: 18px;
  }
  .hero :nth-child(3) {
    font-size: 18px;
  }
  .hero-buttons {
    flex-direction: column;
  }
  section.first > div :nth-child(1) {
    font-size: 30px;
  }
  section.first > div :nth-child(2){
    font-size: 15px;
  }
  .fqa h2 {
    font-size: 30px;
  }
  .fqabox {
    font-size: 18px;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
}
